################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/ED1FlightSimulator_wxs5ajir_wpftmp.csprojAssemblyReference.cache
/obj/Debug/MainWindow.baml
/obj/Debug/ED1FlightSimulator_ibodkfqu_wpftmp.csprojAssemblyReference.cache
/obj/Release/ED1FlightSimulator_pki5y00y_wpftmp.csprojAssemblyReference.cache
/obj/Debug/*
/bin/Debug/*

