################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/ED1FlightSimulator_wxs5ajir_wpftmp.csprojAssemblyReference.cache
